html {
  box-sizing: border-box;
}             
*,*::after,*::before {
  box-sizing: inherit;
}
/* Burger меню начало */
.burger-menu {
  position: fixed;
  top: 0;
  left:0;
  z-index: 1;
  width: 320px;
  height: 100vh; 
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  justify-content: space-between;
  box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2),
              -2px 0 4px 0 rgba(69, 79, 126, 0.02);  
  display: flex;
  flex-direction: column;                       
  }  
  
  .burger-menu__btn-item {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 100%;
    background-repeat: no-repeat;
    border: none;
    flex-shrink: 0;
    margin: 0;
  }
  .burger-menu__btn-item:hover {
    filter: opacity(0.9);
    transform: scale(1.1); 
    transition: 1s;
  } 



  .burger-menu__header {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  }
   .burger-menu__btn-item--close {
  background-image: url(./img/clouse.svg);
  margin-left: 24px;
  margin-top: 23px;
   }
   .burger-menu__logo {
    background-image: url(./img/Group.svg);
    width: 97px;
    height: 51px;
    margin-left: 16.73px;
    margin-top: 18.73px
  
  }
  .burger-menu__btn-item--search {
    background-image: url(./img/search.svg);
    margin-top: 23px;
    margin-left: 78.73px;
  }
  .burger-menu__navigacia{
 
    margin-left: 26px;
    margin-bottom: auto;
  }
  .burger-menu__ul{
    margin: 0;
    padding: 0;
  }
  .burger-menu__li{
  
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    height: 32px;
  }
  .burger-menu__li:first-child {
    margin-top: 24px;
  }
  .burger-menu__a-item {
    text-decoration: none;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    vertical-align: middle;
  }
  .burger-menu__a-active {
    color: #7E7E82;
  }
  .burger-menu__a-active::before {
    position: absolute;
    content: '';
    width: 4px;
    height: 32px;
    left: 0;
    background: #41F6D7;
    border-right: 2px solid #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; 
  }
  
  .burger-menu__a-item:hover {
    color: #7E7E82;
  }
  .burger-menu__a-item:focus {
    color: #7E7E82;
  }
  .burger-menu__a-item:active {
    color: #7E7E82;
  }
  .burger-menu__footer {
  width: 100%;
  height: 125px;
  margin-top: auto;
  margin-bottom: 32px;
  }
  .burger-menu__footer-btn{
    display: block;
    width: 100%;
    height: 40px;
    
  }
  .burger-menu__btn-item--call{
    background-image: url(./img/call.svg);
    margin-left: 24px;
  }
  .burger-menu__btn-item--chat{
    background-image: url(./img/chat.svg);
    margin-left: 16px;
  }
  .burger-menu__btn-item--profile{
    background-image: url(./img/profile.svg);
    margin-left: 16px;
  }
  .burger-menu__footer-mail {
    margin-top: 16px;
    margin-left: 24px;
    text-decoration: none;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }
  .burger-menu__footer-phone {
    margin-top: 12px;
    margin-left: 24px;
    text-decoration: none;
    font-family: 'TT Lakes';
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
  }
  .burger-menu__footer-language {
    margin-top: 8px;
    height: 24px;
    width: 100%;
  }
  .burger-menu__btn-language {
    width: 25px;
    height: 24px;
    background-color: transparent;
    border-radius: 100%;
    background-repeat: no-repeat;
    border: none;
    flex-shrink: 0;
    margin: 0;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }
  .burger-menu__btn-language--ru {
    margin-left: 24px;
  }
  .burger-menu__btn-language--en {
    margin-left: 7px;
  }
  .burger-menu__btn-language--ch {
    margin-left: 7px;
  }
  .burger-menu__btn-language--active {
    color: #7E7E82;
  }
.header.open .burger-menu{
transform: translateX(100%);
}

@media (min-width: 768px) {
  .burger-menu__li{ 
  margin-top: 32px;
  }
  .burger-menu__li:first-child {
    margin-top: 50px;
  }
  .burger-menu__footer{
    height: 160px;
  }
  
  .burger-menu__footer-language {
    margin-top: 40px;
    
  }
}
